#text{
         width: 70%;
         height: 40vh;
       /* padding: 10px;*/
        border: 10px solid lightgrey;
        margin: 0 auto;
        margin-top: 80px;
        background-image: linear-gradient(to right, #FD9718,rgb(255, 192, 234),#E938BD,#860BBE,#5D35CC,#3B7BDE,#1CC3F0);
    }

.head{
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
    color: white;
    font-size: 60px;
    
}